.head_main{
    position: sticky;
    display: flex;
    background-color: #0F1111;
    height: 60px;
    width: 100%;
}
.amazon_logo{
    margin-left: 14px;
    /* border: 1px solid red; */
    height: 60px;
    width: 140px;
}
.search_main{
    margin-top: 5px;
    margin-left: 50px;
}
.main_drop{
    /* border: 1px solid red; */
    height: 40px;
    width: 100px;
}
.drop_1{
    /* color: red; */
    font-size: 16px;
    border-radius: 5px;
    height: 40px;
    width: 50px;
}
/* .drop_1:hover{
    color: red;
} */