.main_fotter{
    background-color: #232F3E;
    /* border: 1px solid red; */
    display: flex;
    height: 250px;
    padding: 30px;
    flex-direction: row;
    justify-content: center;    
    color: white;
}
.get_footer{
    
    /* border: 2px solid green; */
    padding: 10px;
    margin: 20px 50px 10px;
    
}
.fotter_ul{
    list-style-type: none;
    
}
.li_footer{
    color: rgb(236, 236, 236);
    padding: 7px;
    font-size: 15px;
}
.li_heading{
    padding: 7px;
    font-weight: 600;
}

.second_footer{
    border-top: 1px solid #3A4553;
    background-color: #232F3E;
    /* border: 2px solid red; */
    height: 170px;
}
.s2_content{
    display: flex;
    justify-content: center;

}
.amazon_logo_footer{
    height: 100px;
    padding: 10px;
}
.drop_footer{
    color: white !important;
}
.main_drop_footer{
    padding-top: 35px;
    height: 100px;
}
.fotter_drop_1{
    padding: 10px;
    background-color: #232F3E ;
    color: white;
}
.footer_option{
    background-color: white;
    color: black;
}
.lang_footer{
    justify-content: center;
    text-align: center;
}
.lan_item{
    text-decoration: none;
    color: rgb(236, 236, 236);
    padding: 0px 10px;
    font-size: 13px;
}
.lan_item:hover{
    text-decoration: underline;
}


.third_footer{
    /* border: 1px solid red; */
    height: 220px;
    background-color: #131A22;
    color: rgb(230, 228, 228);
}
.thfoot_main{
    display: flex;
    justify-content: center;
}
.th_item{
    justify-content: center;
    text-decoration: none;
    color: rgb(236, 236, 236);
}
.th_item:hover{
    text-decoration: underline;
}
.th_span{
    /* border: 2px solid green; */
    margin: 30px 50px 5px 50px;
    
}
.p_first{
    font-size: 12px;
    color: rgb(236, 236, 236);
    font-weight: 600;
}
.p_item{
    color: rgb(209, 209, 209);
    font-size: 12px;
    
}

.copy_right_main{
    padding-top: 30px;
    font-size: 13px;
    justify-content: center;
    text-align: center;
}
.copy_item{
    margin: 0px 20px;
}
.link_cop{
    text-decoration: none;
    color: rgb(236, 236, 236);

}